<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Partner Ship</title>
    <link rel="stylesheet" type="text/css" href="../static/style/styles.css">
    <title>Partner Ship</title>
</head>
<body>
<form method="post" action="/">
    <header_form>
        <div class="logo"><img src="/static/img/photo_2024-11-15_17-02-08 (2).jpg" alt="LOGO"></div>
    </header_form>
    
    {% for field in form %}
        {% if not loop.last %}
            <p class="label">
                {{ field.label }}
            </p>
            <p>
                {{ field }}
            </p>
        {% endif %}
    {% endfor %}
</form>
</body>
</html>